.illustration {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  

  .title {
    margin-top: 50px;
    width: 292px;
    height: 52px;
  
    top: 326px;
    left: 48px;
    
    font-family: 'Mplus 1p Bold', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 51.98px;

    color: #000000;
  }
  .subtitle{
    margin-top: 50px;
  }
  
  .options {
    margin-bottom: 20px;
  }
  
  .option-item {
    display: flex;
    align-items: center;
  }
  
  .sendBtn {
    margin-top: 20px;
  }
  .options {
    margin: 20px 0;
  }
  
  .option-card {
    margin-bottom: 10px; /* Espace entre les cartes */
  }
  
 
  
  .sendBtn {
    margin-top: 20px;
  }
  
  ion-button {
    --background: #4DA768 !important;
    --color: #FFFFFF;
    --border-width: 1px;
    --border-color: transparent;
    --border-style: solid;
    --box-shadow: none;
}
  ion-content{
    z-index: 1;
  }