<ion-content [fullscreen]="true" class="content">
  <div style="display: flex; align-items: center; justify-content: center; position: relative; margin-top: 40px;">
    <ion-back-button style="position: absolute; left: 10px; color: black;" icon-only="true" defaultHref="/"></ion-back-button>
    <h2 style="text-align: center; color: #000; margin: 0;">Match Details</h2>
  </div>
  <ion-card *ngIf="event" class="event-card">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">{{ event.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <p class="event-detail">Date: {{ event.date }}</p>
      <p class="event-detail">Location: {{ event.location }}</p>
      <p class="event-detail">Description: {{ event.description }}</p>

      <div class="teams">
        <ion-item>
          <ion-radio-group [(ngModel)]="selectedTeam">
            <ion-item>
              <ion-label>{{ event.team1?.name }}</ion-label>
              <ion-radio slot="start" value="team1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{ event.team2?.name }}</ion-label>
              <ion-radio slot="start" value="team2"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="joinMatch()" expand="full">Join {{ selectedTeam ? event[selectedTeam]?.name : '' }}</ion-button>
</ion-content>
