.invite-button{
    --background: #4DA768 !important;
    --color: #FFFFFF;
    --border-width: 1px;
    --border-color: transparent;
    --border-style: solid;
    --box-shadow: none; 
}
.manage-button{
    --background: #4DA768 !important;
    --color: #FFFFFF;
    --border-width: 1px;
    --border-color: transparent;
    --border-style: solid;
    --box-shadow: none; 
}  
