<ion-content [fullscreen]="true" style="--padding-bottom: 20px;">
  <div class="image-container" style="text-align: center; margin-bottom: 20px;">
    <img src="assets/images/verfi.png" alt="Verification" class="top-image" style="max-width: 80%; height: auto;" />
  </div>
  <h1 style="font-weight: bold; text-align: center; margin-top: 20px;">Verification Email</h1>
  <p class="subtitle" style="text-align: center; margin-bottom: 5px;">Please enter your code sent to</p>
  <p class="subtitle" style="text-align: center;">{{ email }}</p>
  <div class="inputfield" style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
    <input *ngFor="let code of verificationCode; let i = index" type="number" maxlength="1" [(ngModel)]="verificationCode[i]" class="input" min="0" required style="border: 1px solid #4DA768; border-radius: 5px; padding: 10px;">
  </div>
  <div class="btnContainer" style="text-align: center; margin-top: 50px;">
    <ion-button shape="round" class="btn" (click)="verifyCode()">Verify</ion-button>
  </div>
</ion-content>
